<form [formGroup]="form" class="p-fluid w-full block app-form">
    <app-form-section title="Airline Details">
        <div class="grid">
            <div class="field col-12 md:col-6">
                <label for="iataCode" class="required">IATA</label>
                <input id="iataCode" pInputText formControlName="iataCode" class="w-full" />
                <small class="p-error" *ngIf="form.controls['iataCode'].hasError('required') && form.controls['iataCode'].touched">IATA is required.</small>
            </div>

            <div class="field col-12 md:col-6">
                <label for="icaoCode">ICAO</label>
                <input id="icaoCode" pInputText formControlName="icaoCode" class="w-full" />
                
            </div>

            <div class="field col-12 md:col-6">
                <label for="iataNumericCode">IATA Numeric</label>
                <input id="iataNumericCode" pInputText formControlName="iataNumericCode" class="w-full" />
                
            </div>

            <div class="field col-12 md:col-6">
                <label for="legalName" class="required">Legal Name</label>
                <input id="legalName" pInputText formControlName="legalName" class="w-full" />
                <small class="p-error" *ngIf="form.controls['legalName'].hasError('required') && form.controls['legalName'].touched">Legal Name is required.</small>
            </div>

            <div class="field col-12 md:col-6">
                <label for="commercialName">Commercial Name</label>
                <input id="commercialName" pInputText formControlName="commercialName" class="w-full" />
                
            </div>

            <div class="field col-12 md:col-6">
                <label for="displayName">Display Name</label>
                <input id="displayName" pInputText formControlName="displayName" class="w-full" />
                
            </div>

            <div class="field col-12 md:col-6">
                <label for="callsign">Callsign</label>
                <input id="callsign" pInputText formControlName="callsign" class="w-full" />
                
            </div>

            <div class="field col-12 md:col-6">
                <label for="website">Website</label>
                <input id="website" pInputText formControlName="website" class="w-full" />
                
            </div>

            <div class="field col-12 md:col-6">
                <label for="email">Email</label>
                <input id="email" pInputText formControlName="email" class="w-full" />
                
            </div>

            <div class="field col-12 md:col-6">
                <label for="phone">Phone</label>
                <input id="phone" pInputText formControlName="phone" class="w-full" />
                
            </div>

            <div class="field col-12 md:col-6 lg:col-12">
                <label for="description">Description</label>
                <textarea id="description" pTextarea rows="3" formControlName="description" class="w-full"></textarea>
                
            </div>

            <div class="field col-12 md:col-6">
                <label for="recordStatus">Record Status</label>
                <p-select inputId="recordStatus" appendTo="body" [options]="recordStatusOptions" formControlName="recordStatus" styleClass="w-full"></p-select>
                
            </div>

            <div class="field col-12 md:col-6">
                <label for="effectiveFrom">Effective From</label>
                <input id="effectiveFrom" pInputText type="date" formControlName="effectiveFrom" class="w-full" />
                
            </div>

            <div class="field col-12 md:col-6">
                <label for="effectiveTo">Effective To</label>
                <input id="effectiveTo" pInputText type="date" formControlName="effectiveTo" class="w-full" />
                
            </div>

            <div class="field col-12 md:col-6">
                <label for="active">Active</label>
                <div class="flex align-items-center gap-2"><p-checkbox inputId="active" formControlName="active" binary="true"></p-checkbox><label for="active" class="mb-0">Enabled</label></div>
                
            </div>
        </div>
    </app-form-section>
</form>
