<form [formGroup]="form" (ngSubmit)="submit()" class="card max-w-4xl mx-auto p-6">

    <h2 class="text-xl font-semibold mb-6">
        {{ id ? 'Edit User' : 'Create User' }}
    </h2>

    <!-- USER INFO -->
    <div class="mb-6">
        <h3 class="font-semibold mb-3">User Info</h3>

        <div class="grid grid-cols-2 gap-4">

            <input pInputText placeholder="Username" formControlName="username" />
            <input pInputText placeholder="Email" formControlName="email" />

            <input pInputText placeholder="First Name" formControlName="firstName" />
            <input pInputText placeholder="Last Name" formControlName="lastName" />

            <p-password formControlName="password"></p-password>

        </div>
    </div>

    <!-- ACCOUNT -->
    <div class="mb-6 flex gap-4">
        <p-checkbox formControlName="enabled" binary="true" label="Enabled"></p-checkbox>
        <p-checkbox formControlName="accountNonLocked" binary="true" label="Unlocked"></p-checkbox>
    </div>

    <!-- TENANT -->
    <div class="mb-6">
        <p-select
        [options]="tenants"
        optionLabel="name"
        optionValue="id"
        formControlName="tenantId"
        placeholder="Select Tenant">
    </p-select>
    </div>

    <!-- ACTION -->
    <p-button
        type="submit"
        label="Save"
        icon="pi pi-check"
        [disabled]="form.invalid">
    </p-button>

</form>
