<app-assignment-layout groupTitle="Groups" rightTitle="Roles">
    <div group-panel>
        <p-table [value]="groups" [loading]="loading" selectionMode="single" [(selection)]="selectedGroup" dataKey="id" responsiveLayout="scroll" (onRowSelect)="onGroupSelect($any($event.data))">
            <ng-template pTemplate="header">
                <tr>
                    <th>Group Name</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-group>
                <tr [pSelectableRow]="group">
                    <td>{{ group.name }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <div right-panel>
        <div class="mb-4">
            <app-crud-toolbar
                [actions]="[
                    'refresh',
                    'reset',
                    'save'
                ]"
                [loading]="saving"
                (refresh)="loadData()"
                (reset)="reset()"
                (save)="save()"
            >
            </app-crud-toolbar>
        </div>

        <div *ngIf="!selectedGroup" class="assignment-empty-state">
            <i class="pi pi-shield"></i>
            <span>Select a group to manage roles</span>
        </div>

        <div *ngIf="selectedGroup" class="assignment-selector-list">
            <div *ngFor="let role of roles" class="assignment-selector-list__item">
                <p-checkbox [binary]="true" [ngModel]="selectedRoleIds.includes(role.id!)" (onChange)="toggleRole(role.id!, $event.checked)"></p-checkbox>

                <label>{{ role.name }}</label>
            </div>
        </div>
    </div>
</app-assignment-layout>
