services.zip 
services.zip 
auth-identity-service.zip 
*.zip 
documents/
back-end/logs/

# Large ingestion files
*.txt
back-end/services/schedule-ingestion-service/src/main/resources/*.txtback-end/services/schedule-ingestion-service/src/main/resources/*.txt 
*.log
*.bak
