<!-- TOOLBAR -->
<csm-crud-toolbar
    [actions]="['create','delete','search','export']"
    [resource]="resourceName"
    [hasSelection]="selectedPermissions.length > 0"
    (create)="openCreate()"
    (delete)="deleteSelectedPermissions()"
    (export)="exportCSV()"
    (search)="onSearch($event)">
</csm-crud-toolbar>

<p-table
    #dt
    [value]="data"
    [loading]="loading"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[10,20,50]"
    [(selection)]="selectedPermissions"
    dataKey="id"
    [rowHover]="true"
    [globalFilterFields]="['name','domain','action','code','tenantName']"
>

    <ng-template pTemplate="header">
        <tr>
            <th style="width:3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>

            <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
            <th>Tenant</th>
            <th pSortableColumn="domain">Domain <p-sortIcon field="domain"></p-sortIcon></th>
            <th pSortableColumn="action">Action <p-sortIcon field="action"></p-sortIcon></th>
            <th pSortableColumn="code">Code <p-sortIcon field="code"></p-sortIcon></th>
            <th>Description</th>
            <th></th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-p>
        <tr>
            <td>
                <p-tableCheckbox [value]="p"></p-tableCheckbox>
            </td>

            <td>{{ p.name }}</td>

            <td>{{ p.tenantName || p.tenant?.name || '-' }}</td>

            <td><p-tag [value]="p.domain" severity="info"></p-tag></td>
            <td><p-tag [value]="p.action" severity="success"></p-tag></td>

            <td>
                <p-tag [value]="p.code" severity="warn"></p-tag>
            </td>

            <td>{{ p.description }}</td>

            <td class="flex gap-2">
                <div class="flex gap-1 justify-center">

                    <!-- EDIT -->
                    <ng-container
                        *csmHasPermission="'permission:update'">

                        <p-button
                            icon="pi pi-pencil"
                            size="small"
                            text
                            pTooltip="Edit"
                            tooltipPosition="top"
                            (click)="openEdit(p)">
                        </p-button>

                    </ng-container>

                    <!-- DELETE -->
                    <ng-container
                        *csmHasPermission="'permission:delete'">

                        <p-button
                            icon="pi pi-trash"
                            size="small"
                            text
                            severity="danger"
                            pTooltip="Delete"
                            tooltipPosition="top"
                            (click)="deletePermission(p)">
                        </p-button>

                    </ng-container>

                </div>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="8" class="text-center py-4">
                No permissions found
            </td>
        </tr>
    </ng-template>

</p-table>

<!-- ============================= -->
<!-- Dialog                       -->
<!-- ============================= -->
<csm-dialog
    [(visible)]="dialogVisible"
    [title]="selectedId ? 'Edit Permission' : 'Create Permission'"
    [disableSave]="!!formRef?.form?.invalid || !!formRef?.loading"
    (save)="formRef.submit()">

    <permission-form
        #formRef
        [id]="selectedId"
        (saved)="onSaved()">
    </permission-form>

</csm-dialog>

