<form [formGroup]="form" class="p-fluid  w-full">

    <csm-form-section title="Organization Details">
        <div class="grid formgrid">

            <div class="col-12 md:col-6 field">
                <label>Name</label>
                <input pInputText formControlName="name" class="w-full" />
            </div>

            <div class="col-12 md:col-6 field">
                <label>Code</label>
                <input pInputText formControlName="code" class="w-full" />
            </div>

            <div class="col-12 field">
                <label>Status</label>
                <p-select
                    [options]="statusOptions"
                    optionLabel="label"
                    optionValue="value"
                    formControlName="status"
                    placeholder="Select Status"
                    styleClass="w-full">
                </p-select>
            </div>

        </div>
    </csm-form-section>

</form>

