<form [formGroup]="form" class="p-fluid w-full block">

    <csm-form-section title="Organization Details">
        <div class="grid">

            <div class="field col-12 md:col-6">
                <label for="name">Name</label>
                <input id="name" pInputText formControlName="name" class="w-full" />
            </div>

            <div class="field col-12 md:col-6">
                <label for="code">Code</label>
                <input id="code" pInputText formControlName="code" class="w-full" />
            </div>

            <div class="field col-12">
                <label for="status">Status</label>
                <p-select
                    inputId="status"
                    appendTo="body"
                    [options]="statusOptions"
                    optionLabel="label"
                    optionValue="value"
                    formControlName="status"
                    placeholder="Select Status"
                    styleClass="w-full">
                </p-select>
            </div>

        </div>
    </csm-form-section>

</form>

