<form [formGroup]="form" class="p-fluid w-full block csm-form">

    <div class="w-full">

        <!-- BASIC INFORMATION -->
        <csm-form-section title="Basic Information">

            <div class="grid">

                <!-- NAME -->
                <div class="field col-12 md:col-6">

                    <label for="name">Name</label>

                    <input
                        id="name"
                        pInputText
                        formControlName="name"
                        class="w-full" />

                </div>

                <!-- CODE -->
                <div class="field col-12 md:col-6">

                    <label for="code">Code</label>

                    <input
                        id="code"
                        pInputText
                        formControlName="code"
                        class="w-full" />

                </div>

                <!-- DESCRIPTION -->
                <div class="field col-12">

                    <label for="description">
                        Description
                    </label>

                    <input
                        id="description"
                        pInputText
                        formControlName="description"
                        class="w-full" />

                </div>

            </div>

        </csm-form-section>

        <!-- CONFIGURATION -->
        <csm-form-section title="Configuration">

            <div class="grid">

                <!-- STATUS -->
                <div class="field col-12 md:col-6">

                    <label for="status">
                        Status
                    </label>

                    <p-select
                        inputId="status"
                        appendTo="body"
                        formControlName="status"
                        [options]="statusOptions"
                        placeholder="Select Status"
                        styleClass="w-full">
                    </p-select>

                </div>

                <!-- PLAN -->
                <div class="field col-12 md:col-6">

                    <label for="plan">
                        Plan
                    </label>

                    <p-select
                        inputId="plan"
                        appendTo="body"
                        formControlName="plan"
                        [options]="planOptions"
                        placeholder="Select Plan"
                        styleClass="w-full">
                    </p-select>

                </div>

            </div>

        </csm-form-section>

    </div>

</form>
