<form [formGroup]="form" class="p-fluid w-full block app-form">
    <div class="w-full">
        <app-form-section title="Role Details">
            <div class="grid">
                <!-- CODE -->
                <div class="field col-12 md:col-6">
                    <label for="code">Code</label>

                    <input id="code" pInputText formControlName="code" class="w-full" />
                </div>

                <!-- NAME -->
                <div class="field col-12 md:col-6">
                    <label for="name">Name</label>

                    <input id="name" pInputText formControlName="name" class="w-full" />
                </div>

                <!-- DESCRIPTION -->
                <div class="field col-12">
                    <label for="description"> Description </label>

                    <input id="description" pInputText formControlName="description" class="w-full" />
                </div>

                <!-- TENANT -->
                <div class="field col-12 md:col-6">
                    <label for="tenantId"> Tenant </label>

                    <p-select inputId="tenantId" appendTo="body" [options]="tenants" optionLabel="name" optionValue="id" formControlName="tenantId" placeholder="Select Tenant" styleClass="w-full"> </p-select>
                </div>
            </div>
        </app-form-section>
    </div>
</form>
