<form [formGroup]="form" class="p-fluid w-full block app-form">
    <app-form-section title="City Details">
        <div class="grid">
            <div class="field col-12 md:col-6">
                <label for="iataCode" class="required">IATA Code</label>
                <input id="iataCode" pInputText formControlName="iataCode" class="w-full" />
                <small class="p-error" *ngIf="form.controls['iataCode'].hasError('required') && form.controls['iataCode'].touched">IATA Code is required.</small>
            </div>

            <div class="field col-12 md:col-6">
                <label for="name" class="required">Name</label>
                <input id="name" pInputText formControlName="name" class="w-full" />
                <small class="p-error" *ngIf="form.controls['name'].hasError('required') && form.controls['name'].touched">Name is required.</small>
            </div>

            <div class="field col-12 md:col-6">
                <label for="recordStatus">Record Status</label>
                <p-select inputId="recordStatus" appendTo="body" [options]="recordStatusOptions" formControlName="recordStatus" styleClass="w-full"></p-select>
                
            </div>

            <div class="field col-12 md:col-6">
                <label for="effectiveFrom">Effective From</label>
                <input id="effectiveFrom" pInputText type="date" formControlName="effectiveFrom" class="w-full" />
                
            </div>

            <div class="field col-12 md:col-6">
                <label for="effectiveTo">Effective To</label>
                <input id="effectiveTo" pInputText type="date" formControlName="effectiveTo" class="w-full" />
                
            </div>

            <div class="field col-12 md:col-6">
                <label for="active">Active</label>
                <div class="flex align-items-center gap-2"><p-checkbox inputId="active" formControlName="active" binary="true"></p-checkbox><label for="active" class="mb-0">Enabled</label></div>
                
            </div>

            <div class="field col-12 md:col-6">
                <label for="countryId">Country ID</label>
                <input id="countryId" pInputText formControlName="countryId" class="w-full" />
                
            </div>

            <div class="field col-12 md:col-6">
                <label for="stateId">State ID</label>
                <input id="stateId" pInputText formControlName="stateId" class="w-full" />
                
            </div>
        </div>
    </app-form-section>
</form>
