<div class="flex flex-column gap-4">

    <!-- CONTENT -->
    <div class="grid">

        <!-- GROUP PANEL -->
        <div class="col-12 lg:col-3">

            <p-card class="h-full min-h-full">

                <ng-template pTemplate="title">

                    {{ groupTitle }}

                </ng-template>

                <ng-content select="[group-panel]">
                </ng-content>

            </p-card>

        </div>

        <!-- ROLE PANEL -->
        <div class="col-12 lg:col-4">

            <p-card class="h-full min-h-full">

                <ng-template pTemplate="title">

                    {{ leftTitle }}

                </ng-template>

                <ng-content select="[left-panel]">
                </ng-content>

            </p-card>

        </div>

        <!-- PERMISSION PANEL -->
        <div class="col-12 lg:col-5">

            <p-card class="h-full min-h-full">

                <ng-template pTemplate="title">

                    {{ rightTitle }}

                </ng-template>

                <ng-content select="[right-panel]">
                </ng-content>

            </p-card>

        </div>

    </div>

</div>
