<div class="flex flex-column gap-4 assignment-layout">
    <div class="text-900 text-xl font-semibold">
        {{ title }}
    </div>

    <!-- CONTENT -->
    <div [ngClass]="layoutClass">
        <!-- GROUP PANEL -->
        <div *ngIf="groupTitle" class="assignment-layout__panel">
            <p-card class="assignment-layout__card">
                <ng-template pTemplate="title">
                    {{ groupTitle }}
                </ng-template>

                <ng-content select="[group-panel]"> </ng-content>
            </p-card>
        </div>

        <!-- ROLE PANEL -->
        <div *ngIf="leftTitle" class="assignment-layout__panel">
            <p-card class="assignment-layout__card">
                <ng-template pTemplate="title">
                    {{ leftTitle }}
                </ng-template>

                <ng-content select="[left-panel]"> </ng-content>
            </p-card>
        </div>

        <!-- PERMISSION PANEL -->
        <div *ngIf="rightTitle" class="assignment-layout__panel">
            <p-card class="assignment-layout__card">
                <ng-template pTemplate="title">
                    {{ rightTitle }}
                </ng-template>

                <ng-content select="[right-panel]"> </ng-content>
            </p-card>
        </div>
    </div>
</div>
