<form [formGroup]="form" (ngSubmit)="submit()" class="card max-w-3xl mx-auto p-6">

    <h2 class="text-xl font-semibold mb-6">
        {{ isEdit ? 'Edit Permission' : 'Create Permission' }}
    </h2>

    <div class="grid grid-cols-2 gap-4">

        <input pInputText placeholder="Name" formControlName="name" />

        <input pInputText placeholder="Domain (e.g. user)" formControlName="domain" />

        <input pInputText placeholder="Action (e.g. create)" formControlName="action" />

        <input pInputText placeholder="Description" formControlName="description" />

    </div>

    <div class="mt-6">
        <p-button
            type="submit"
            label="Save"
            icon="pi pi-check"
            [disabled]="form.invalid">
        </p-button>
    </div>

</form>
