<csm-dialog
    [(visible)]="visible"
    [title]="isEdit ? 'Edit Role' : 'Create Role'"
    [width]="'500px'"
    [disableSave]="form.invalid || loading"
    (save)="submit()">

    <form [formGroup]="form" class="p-fluid">

        <csm-form-section title="Role Details">
            <div class="grid formgrid">

                <div class="col-12 md:col-6 field">
                    <label>Code</label>
                    <input pInputText formControlName="code" class="w-full" />
                </div>

                <div class="col-12 md:col-6 field">
                    <label>Name</label>
                    <input pInputText formControlName="name" class="w-full" />
                </div>

                <div class="col-12 field">
                    <label>Description</label>
                    <input pInputText formControlName="description" class="w-full" />
                </div>

                <div class="col-12 field">
                    <label>Tenant</label>
                    <p-select
                        [options]="tenants"
                        optionLabel="name"
                        optionValue="id"
                        formControlName="tenantId"
                        placeholder="Select Tenant"
                        styleClass="w-full">
                    </p-select>
                </div>

            </div>
        </csm-form-section>

    </form>

</csm-dialog>
