@if (selectedRoot) {
    <div class="layout-menu-context">
        <div>
            <span class="layout-menu-context__eyebrow">Navigation</span>
            <h2>{{ selectedRoot.sidebarLabel || selectedRoot.topbarLabel || selectedRoot.label }}</h2>
        </div>
    </div>
}

<ul class="layout-menu">
    @for (item of model; track rootTrackKey(item, $index)) {
        @if (!item.separator) {
            <li app-menuitem [item]="item" [root]="(item.items?.length ?? 0) > 0"></li>
        }

        @if (item.separator) {
            <li class="my-3 border-t border-gray-200"></li>
        }
    }
</ul>
