<form [formGroup]="form" class="p-fluid w-full block app-form">
    <div class="w-full">
        <app-form-section title="Menu Details">
            <div class="grid">
                <!-- LABEL -->
                <div class="field col-12 md:col-6">
                    <label for="label" class="required">Label</label>

                    <input id="label" pInputText formControlName="label" class="w-full" aria-required="true" />

                    <small class="p-error" *ngIf="form.controls['label'].hasError('required') && form.controls['label'].touched">Label is required.</small>
                </div>

                <!-- ICON -->
                <div class="field col-12 md:col-6">
                    <label for="icon">Icon</label>

                    <input id="icon" pInputText formControlName="icon" placeholder="pi pi-home" class="w-full" />
                </div>

                <!-- PARENT MENU -->
                <div class="field col-12 md:col-6">
                    <label for="parentId"> Parent Menu </label>

                    <p-select inputId="parentId" appendTo="body" [options]="menuOptions" optionLabel="label" optionValue="value" formControlName="parentId" placeholder="Root menu" [showClear]="true" styleClass="w-full"> </p-select>
                </div>

                <!-- TOPBAR LABEL -->
                <div class="field col-12 md:col-6" *ngIf="isRootMenu">
                    <label for="topbarLabel">Topbar Label Override</label>

                    <input id="topbarLabel" pInputText formControlName="topbarLabel" placeholder="Defaults to label" class="w-full" />
                </div>

                <!-- SIDEBAR LABEL -->
                <div class="field col-12 md:col-6" *ngIf="!isRootMenu">
                    <label for="sidebarLabel">Sidebar Label Override</label>

                    <input id="sidebarLabel" pInputText formControlName="sidebarLabel" placeholder="Defaults to label" class="w-full" />
                </div>

                <!-- ROUTE -->
                <div class="field col-12 md:col-6">
                    <label for="route">Route</label>

                    <input id="route" pInputText formControlName="route" placeholder="/dashboard" class="w-full" />
                </div>

                <!-- DISPLAY ORDER -->
                <div class="field col-12 md:col-6">
                    <label for="displayOrder"> Display Order </label>

                    <input id="displayOrder" type="number" pInputText formControlName="displayOrder" class="w-full" />
                </div>

                <!-- GROUPS -->
                <div class="field col-12 md:col-6">
                    <label for="groupIds"> Groups </label>

                    <p-multiSelect inputId="groupIds" appendTo="body" formControlName="groupIds" [options]="groups" optionLabel="label" optionValue="value" placeholder="Select groups that can see this menu" display="chip" styleClass="w-full"> </p-multiSelect>
                </div>

            </div>
        </app-form-section>
    </div>
</form>
