<form [formGroup]="form" class="p-fluid w-full block app-form">
    <app-form-section title="Time Zone Details">
        <div class="grid">
            <div class="field col-12 md:col-6">
                <label for="zoneId" class="required">Zone ID</label>
                <input id="zoneId" pInputText formControlName="zoneId" class="w-full" />
                <small class="p-error" *ngIf="form.controls['zoneId'].hasError('required') && form.controls['zoneId'].touched">Zone ID is required.</small>
            </div>

            <div class="field col-12 md:col-6">
                <label for="utcOffset">UTC Offset</label>
                <input id="utcOffset" pInputText formControlName="utcOffset" class="w-full" />
                
            </div>

            <div class="field col-12 md:col-6">
                <label for="recordStatus">Record Status</label>
                <p-select inputId="recordStatus" appendTo="body" [options]="recordStatusOptions" formControlName="recordStatus" styleClass="w-full"></p-select>
                
            </div>

            <div class="field col-12 md:col-6">
                <label for="effectiveFrom">Effective From</label>
                <input id="effectiveFrom" pInputText type="date" formControlName="effectiveFrom" class="w-full" />
                
            </div>

            <div class="field col-12 md:col-6">
                <label for="effectiveTo">Effective To</label>
                <input id="effectiveTo" pInputText type="date" formControlName="effectiveTo" class="w-full" />
                
            </div>

            <div class="field col-12 md:col-6">
                <label for="isDstSupported">DST Supported</label>
                <div class="flex align-items-center gap-2"><p-checkbox inputId="isDstSupported" formControlName="isDstSupported" binary="true"></p-checkbox><label for="isDstSupported" class="mb-0">Yes</label></div>
                
            </div>
        </div>
    </app-form-section>
</form>
