<form [formGroup]="form" class="p-fluid w-full block app-form">
    <app-form-section title="Time Zones Details">
        <div class="grid">
            <div class="field col-12 md:col-6">
                <label for="timezoneCode" class="required">Timezone Code</label>
                <input id="timezoneCode" pInputText formControlName="timezoneCode" class="w-full" />
                <small class="p-error" *ngIf="form.controls['timezoneCode'].hasError('required') && form.controls['timezoneCode'].touched">Timezone Code is required.</small>
            </div>

            <div class="field col-12 md:col-6">
                <label for="timezoneName" class="required">Timezone Name</label>
                <input id="timezoneName" pInputText formControlName="timezoneName" class="w-full" />
                <small class="p-error" *ngIf="form.controls['timezoneName'].hasError('required') && form.controls['timezoneName'].touched">Timezone Name is required.</small>
            </div>

            <div class="field col-12 md:col-6">
                <label for="utcOffset">UTC Offset</label>
                <input id="utcOffset" pInputText formControlName="utcOffset" class="w-full" />
                
            </div>

            <div class="field col-12 md:col-6">
                <label for="recordStatus">Record Status</label>
                <p-select inputId="recordStatus" appendTo="body" [options]="recordStatusOptions" formControlName="recordStatus" styleClass="w-full"></p-select>
                
            </div>

            <div class="field col-12 md:col-6">
                <label for="effectiveFrom">Effective From</label>
                <input id="effectiveFrom" pInputText type="date" formControlName="effectiveFrom" class="w-full" />
                
            </div>

            <div class="field col-12 md:col-6">
                <label for="effectiveTo">Effective To</label>
                <input id="effectiveTo" pInputText type="date" formControlName="effectiveTo" class="w-full" />
                
            </div>

            <div class="field col-12 md:col-6">
                <label for="active">Active</label>
                <div class="flex align-items-center gap-2"><p-checkbox inputId="active" formControlName="active" binary="true"></p-checkbox><label for="active" class="mb-0">Enabled</label></div>
                
            </div>
        </div>
    </app-form-section>
</form>
