<csm-dialog
    [(visible)]="visible"
    [title]="isEdit ? 'Edit Menu' : 'Create Menu'"
    [width]="'500px'"
    [disableSave]="form.invalid || loading"
    (save)="submit()">

    <form [formGroup]="form" class="p-fluid">

        <csm-form-section title="Menu Details">
            <div class="grid formgrid">

                <div class="col-12 field">
                    <label>Label</label>
                    <input pInputText formControlName="label" class="w-full" />
                    <small *ngIf="form.controls['label'].invalid && form.controls['label'].touched">
                        Label is required
                    </small>
                </div>

                <div class="col-12 field">
                    <label>Icon</label>
                    <input pInputText formControlName="icon" placeholder="pi pi-home" class="w-full" />
                </div>

                <div class="col-12 field">
                    <label>Route</label>
                    <input pInputText formControlName="routerLink" placeholder="/dashboard" class="w-full" />
                </div>

                <div class="col-12 md:col-6 field">
                    <label>Display Order</label>
                    <input type="number" pInputText formControlName="displayOrder" class="w-full" />
                </div>

                <div class="col-12 md:col-6 field">
                    <label>Parent Menu</label>
                    <p-select
                        [options]="menuOptions"
                        optionLabel="label"
                        optionValue="value"
                        formControlName="parentId"
                        placeholder="Select Parent"
                        [showClear]="true"
                        styleClass="w-full">
                    </p-select>
                </div>

            </div>
        </csm-form-section>

    </form>

</csm-dialog>
