<p-dialog
    [(visible)]="visible"
    [modal]="true"
    [style]="{ width: '450px' }"
    [header]="isEdit ? 'Edit Menu' : 'Create Menu'">

    <form [formGroup]="form" class="p-fluid">

        <div class="field">
            <label>Label</label>
            <input pInputText formControlName="label" />
            <small *ngIf="form.controls['label'].invalid && form.controls['label'].touched">
                Label is required
            </small>
        </div>

        <div class="field">
            <label>Icon</label>
            <input pInputText formControlName="icon" placeholder="pi pi-home" />
        </div>

        <div class="field">
            <label>Route</label>
            <input pInputText formControlName="routerLink" placeholder="/dashboard" />
        </div>

        <div class="field">
            <label>Display Order</label>
            <input type="number" pInputText formControlName="displayOrder" />
        </div>

        <!-- ============================= -->
        <!-- Parent Menu -->
        <!-- ============================= -->
        <div class="field">
            <label>Parent Menu</label>

            <p-select
                [options]="menuOptions"
                optionLabel="label"
                optionValue="value"
                formControlName="parentId"
                placeholder="Select Parent (optional)"
                [showClear]="true"
                appendTo="body"
            ></p-select>
        </div>

        <div class="flex justify-end gap-2 mt-3">

            <!-- Cancel -->
            <button
                pButton
                label="Cancel"
                class="p-button-text"
                (click)="visibleChange.emit(false)"
                type="button">
            </button>

            <!-- Save -->
            <button
                pButton
                label="Save"
                icon="pi pi-check"
                (click)="submit()"
                [disabled]="form.invalid || loading"
                type="button">
            </button>

            <!-- Delete -->
            <button
                *ngIf="isEdit"
                pButton
                label="Delete"
                icon="pi pi-trash"
                severity="danger"
                (click)="delete()"
                type="button">
            </button>

        </div>

    </form>

</p-dialog>
