spring:
  application:
    name: gateway-service

  config:
    import: "optional:configserver:http://localhost:8888"

  cloud:
    consul:
      host: localhost
      port: 8500
      discovery:
        service-name: gateway-service
        register: true
        prefer-ip-address: true

server:
  port: 8222

management:
  endpoints:
    web:
      exposure:
        include: health,info
