<csm-crud-toolbar
    [actions]="['create','delete','search']"
    [disableDelete]="!selectedOrganizations.length"
    (create)="openCreate()"
    (delete)="deleteSelectedOrganizations()"
    (search)="onSearch($event)">
</csm-crud-toolbar>

<p-table
    #dt
    [value]="data"
    [loading]="loading"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[10,20,50]"
    [(selection)]="selectedOrganizations"
    dataKey="id"
    [rowHover]="true"
    [tableStyle]="{ 'min-width': '60rem' }"
    [globalFilterFields]="['name','code','status']"
>

    <ng-template pTemplate="header">
        <tr>
            <th style="width:3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th>Name</th>
            <th>Code</th>
            <th>Status</th>
            <th style="width:120px"></th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-org>
        <tr>
            <td>
                <p-tableCheckbox [value]="org"></p-tableCheckbox>
            </td>

            <td>{{ org.name }}</td>
            <td>{{ org.code }}</td>

            <td>
                <p-tag
                    [value]="org.status"
                    [severity]="org.status === 'ACTIVE' ? 'success' : 'danger'">
                </p-tag>
            </td>

            <td>
                <div class="flex gap-1 justify-center">
                    <p-button
                        icon="pi pi-pencil"
                        size="small"
                        text
                        pTooltip="Edit"
                        tooltipPosition="top"
                        (click)="openEdit(org)">
                    </p-button>

                    <p-button
                        icon="pi pi-trash"
                        size="small"
                        text
                        severity="danger"
                        pTooltip="Delete"
                        tooltipPosition="top"
                        (click)="deleteOrganization(org)">
                    </p-button>
                </div>
            </td>
        </tr>
    </ng-template>

    <!-- ✅ Enterprise empty state -->
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="5" class="text-center py-6 text-gray-500">
                <i class="pi pi-building text-2xl mb-2"></i>
                <div>No organizations found</div>
            </td>
        </tr>
    </ng-template>

</p-table>

<organization-form
    [(visible)]="dialogVisible"
    [id]="selectedOrganizationId"
    (saved)="onSaved()">
</organization-form>
