@import 'tailwindcss';
@import 'tailwindcss-primeui';
@custom-variant dark (&:where(.csm-dark, .csm-dark *));

@theme {
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --breakpoint-2xl: 1920px;
}