<csm-crud-toolbar
    [actions]="['create','delete','export','search']"
    [resource]="resourceName"
    [hasSelection]="selectedTenants.length > 0"
    (create)="openCreate()"
    (delete)="deleteSelectedTenants()"
    (export)="exportCSV()"
    (search)="onSearch($event)">
</csm-crud-toolbar>

<p-table
    #dt
    [value]="data"
    [loading]="loading"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[10,20,50]"
    [(selection)]="selectedTenants"
    dataKey="id"
    [rowHover]="true"
    responsiveLayout="scroll"
    class="p-datatable-sm"
    [globalFilterFields]="['name','code','plan','status']"
>
    <!-- Caption -->
    <ng-template pTemplate="caption">
        <div class="flex justify-between items-center">
            <h5 class="m-0">Manage Tenants</h5>
        </div>
    </ng-template>

    <!-- Header -->
    <ng-template pTemplate="header">
        <tr>
            <th style="width:3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>

            <th pSortableColumn="name">
                Name
                <p-sortIcon field="name"></p-sortIcon>
            </th>

            <th pSortableColumn="code">
                Code
                <p-sortIcon field="code"></p-sortIcon>
            </th>

            <th>Status</th>
            <th>Plan</th>

            <th style="width:10rem"></th>
        </tr>
    </ng-template>

    <!-- Body -->
    <ng-template pTemplate="body" let-tenant>
        <tr>
            <td>
                <p-tableCheckbox [value]="tenant"></p-tableCheckbox>
            </td>

            <td>{{ tenant.name }}</td>
            <td>{{ tenant.code }}</td>

            <td>
                <p-tag
                    [value]="tenant.status"
                    [severity]="getStatusSeverity(tenant.status)">
                </p-tag>
            </td>

            <td>{{ tenant.plan || '-' }}</td>

            <td class="flex gap-2">
                <div class="flex gap-1 justify-center">

                    <!-- EDIT -->
                    <ng-container *csmHasPermission="'tenant:update'">

                        <p-button
                            icon="pi pi-pencil"
                            size="small"
                            text
                            pTooltip="Edit"
                            tooltipPosition="top"
                            (click)="openEdit(tenant)">
                        </p-button>

                    </ng-container>

                    <!-- DELETE -->
                    <ng-container *csmHasPermission="'tenant:delete'">

                        <p-button
                            icon="pi pi-trash"
                            size="small"
                            text
                            severity="danger"
                            pTooltip="Delete"
                            tooltipPosition="top"
                            (click)="deleteTenant(tenant)">
                        </p-button>

                    </ng-container>

                </div>
            </td>
        </tr>
    </ng-template>

</p-table>

<csm-dialog
    [(visible)]="dialogVisible"
    [title]="selectedId ? 'Edit Tenant' : 'Create Tenant'"
    [disableSave]="!!formRef?.form?.invalid || !!formRef?.loading"
    (save)="formRef.submit()">

    <tenant-form
        #formRef
        [id]="selectedId"
        (saved)="onSaved()">
    </tenant-form>

</csm-dialog>
