<p-toolbar *ngIf="hasAnyAction" class="mb-6">

    <ng-template pTemplate="left">

        <p-button
            *ngIf="visibleActions.includes('create')"
            label="New"
            icon="pi pi-plus"
            severity="secondary"
            class="mr-2"
            (click)="create.emit()">
        </p-button>

        <p-button
            *ngIf="visibleActions.includes('delete')"
            label="Delete"
            icon="pi pi-trash"
            severity="secondary"
            outlined
            class="mr-2"
            [disabled]="isDeleteDisabled()"
            (click)="delete.emit()">
        </p-button>

        <p-button
            *ngIf="visibleActions.includes('refresh')"
            label="Refresh"
            icon="pi pi-refresh"
            severity="secondary"
            class="mr-2"
            (click)="refresh.emit()">
        </p-button>

        <p-button
            *ngIf="visibleActions.includes('upload')"
            label="Upload"
            icon="pi pi-upload"
            severity="secondary"
            class="mr-2"
            (click)="uploadFile.emit()">
        </p-button>

    </ng-template>

    <ng-template pTemplate="right">

        <p-button
            *ngIf="visibleActions.includes('export')"
            label="Export"
            icon="pi pi-upload"
            severity="secondary"
            (click)="export.emit()">
        </p-button>

    </ng-template>

</p-toolbar>
