<form [formGroup]="form" class="p-fluid w-full block app-form">
    <div class="w-full">
        <app-form-section title="Role Details">
            <div class="grid">
                <!-- CODE -->
                <div class="field col-12 md:col-6">
                    <label for="code" class="required">Code</label>

                    <input id="code" pInputText formControlName="code" class="w-full" aria-required="true" />
                    <small class="p-error" *ngIf="form.controls['code'].hasError('required') && form.controls['code'].touched">Code is required.</small>
                </div>

                <!-- NAME -->
                <div class="field col-12 md:col-6">
                    <label for="name" class="required">Name</label>

                    <input id="name" pInputText formControlName="name" class="w-full" aria-required="true" />
                    <small class="p-error" *ngIf="form.controls['name'].hasError('required') && form.controls['name'].touched">Name is required.</small>
                </div>

                <!-- DESCRIPTION -->
                <div class="field col-12 md:col-6">
                    <label for="description"> Description </label>

                    <input id="description" pInputText formControlName="description" class="w-full" />
                </div>

            </div>
        </app-form-section>
    </div>
</form>
