@if (root() && isVisible()) {
    <div class="layout-menuitem-root-text">
        {{ item().label }}
    </div>
}

<!-- ========================= -->
<!-- MENU ITEM -->
<!-- ========================= -->
@if (isVisible()) {

    <a
        *ngIf="item().routerLink && !hasChildren()"
        [routerLink]="item().routerLink"
        routerLinkActive="active-route"
        [routerLinkActiveOptions]="{ exact: false }"
        [ngClass]="item().styleClass"
        (click)="layoutService.closeSidebar()"
        tabindex="0"
        pRipple
    >
        <i [ngClass]="item().icon" class="layout-menuitem-icon"></i>
        <span class="layout-menuitem-text">{{ item().label }}</span>

        @if (hasChildren()) {
            <i class="pi pi-fw pi-angle-down layout-submenu-toggler"></i>
        }
    </a>
}

<!-- ========================= -->
<!-- CHILDREN -->
<!-- ========================= -->
@if (hasChildren() && isVisible() && (root() || isActive() || isExpanded())) {

    <ul [class.layout-root-submenulist]="root()">

        @for (child of item().items ?? []; track child?.id ?? child?.label) {
            <li
                app-menuitem
                [item]="child"
                [root]="false"
                [class]="child['badgeClass']"
            ></li>
        }

    </ul>
}
