<!-- Toolbar -->
<csm-crud-toolbar
    [actions]="['create','delete','search']"
    [disableDelete]="!selectedGroups.length"
    (create)="openCreate()"
    (delete)="deleteSelectedGroups()"
    (search)="onSearch($event)">
</csm-crud-toolbar>

<!-- Table -->
<p-table
    #dt
    [value]="data"
    [loading]="loading"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[10,20,50]"
    [(selection)]="selectedGroups"
    dataKey="id"
    [rowHover]="true"
    [tableStyle]="{ 'min-width': '60rem' }"
    [globalFilterFields]="['code','name','description']"
>

    <!-- Header -->
    <ng-template pTemplate="header">
        <tr>
            <th style="width:3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th>Code</th>
            <th>Name</th>
            <th>Description</th>
            <th>Tenant</th>
            <th style="width:120px"></th>
        </tr>
    </ng-template>

    <!-- Body -->
    <ng-template pTemplate="body" let-group>
        <tr>
            <td>
                <p-tableCheckbox [value]="group"></p-tableCheckbox>
            </td>

            <td>{{ group.code }}</td>
            <td>{{ group.name }}</td>
            <td>{{ group.description }}</td>

            <td>
                <p-tag [value]="group.tenantId" severity="info"></p-tag>
            </td>

            <td>
                <div class="flex gap-1 justify-center">
                    <p-button
                        icon="pi pi-pencil"
                        size="small"
                        text
                        pTooltip="Edit"
                        tooltipPosition="top"
                        (click)="openEdit(group)">
                    </p-button>

                    <p-button
                        icon="pi pi-trash"
                        size="small"
                        text
                        severity="danger"
                        pTooltip="Delete"
                        tooltipPosition="top"
                        (click)="deleteGroup(group)">
                    </p-button>
                </div>
            </td>
        </tr>
    </ng-template>

    <!-- Empty -->
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="6" class="text-center py-6 text-gray-500">
                <i class="pi pi-users text-2xl mb-2"></i>
                <div>No groups found</div>
            </td>
        </tr>
    </ng-template>

</p-table>

<!-- Dialog -->
<group-form
    [(visible)]="dialogVisible"
    [id]="selectedGroupId"
    (saved)="onSaved()">
</group-form>
