<!-- Toolbar -->
<csm-crud-toolbar
    [actions]="['create','delete','search','export']"
    [resource]="resourceName"
    [hasSelection]="selectedRoles.length > 0"
    (create)="openCreate()"
    (delete)="deleteSelectedRoles()"
    (export)="exportCSV()"
    (search)="onSearch($event)">
</csm-crud-toolbar>

<!-- Table -->
<p-table
    #dt
    [value]="data"
    [loading]="loading"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[10,20,50]"
    [(selection)]="selectedRoles"
    dataKey="id"
    [rowHover]="true"
    [tableStyle]="{ 'min-width': '60rem' }"
    [globalFilterFields]="['code','name','description']"
>

    <!-- Header -->
    <ng-template pTemplate="header">
        <tr>
            <th style="width:3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th>Code</th>
            <th>Name</th>
            <th>Description</th>
            <th>Tenant</th>
            <th style="width:120px"></th>
        </tr>
    </ng-template>

    <!-- Body -->
    <ng-template pTemplate="body" let-role>
        <tr>
            <td>
                <p-tableCheckbox [value]="role"></p-tableCheckbox>
            </td>

            <td>{{ role.code }}</td>
            <td>{{ role.name }}</td>
            <td>{{ role.description }}</td>

            <td>
                <p-tag [value]="role.tenantId" severity="info"></p-tag>
            </td>

            <td>
                <div class="flex gap-1 justify-center">

                    <!-- EDIT -->
                    <ng-container *csmHasPermission="'role:update'">

                        <p-button
                            icon="pi pi-pencil"
                            size="small"
                            text
                            pTooltip="Edit"
                            tooltipPosition="top"
                            (click)="openEdit(role)">
                        </p-button>

                    </ng-container>

                    <!-- DELETE -->
                    <ng-container *csmHasPermission="'role:delete'">

                        <p-button
                            icon="pi pi-trash"
                            size="small"
                            text
                            severity="danger"
                            pTooltip="Delete"
                            tooltipPosition="top"
                            (click)="deleteRole(role)">
                        </p-button>

                    </ng-container>

                </div>
            </td>
        </tr>
    </ng-template>

    <!-- Empty -->
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="6" class="text-center py-6 text-gray-500">
                <i class="pi pi-id-card text-2xl mb-2"></i>
                <div>No roles found</div>
            </td>
        </tr>
    </ng-template>

</p-table>

<!-- Dialog -->
<csm-dialog
    [(visible)]="dialogVisible"
    [title]="selectedId ? 'Edit Role' : 'Create Role'"
    [disableSave]="!!formRef?.form?.invalid || !!formRef?.loading"
    (save)="formRef.submit()">

    <role-form
        #formRef
        [id]="selectedId"
        (saved)="onSaved()">
    </role-form>

</csm-dialog>
